services:
  app:
    build:
      context: ./runtimes/8.4
      dockerfile: Dockerfile
      args:
        NAS_UID: '${NAS_UID:-1026}'
        WWWGROUP: '${WWWGROUP:-100}'
        POSTGRES_CLIENT: true
    image: laravel-ssh-server:8.4
    hostname: '${APP_HOSTNAME}'
    environment:
      - SSH_PUBLIC_KEY=${SSH_PUBLIC_KEY}
    ports:
      - "${APP_PORT:-8080}:80"   # Web
      - "${SSH_PORT:-2222}:22"   # SSH/SFTP pro PHP Deployer, a další části
    volumes:
      - "${APP_PATH:-./html}:/var/www/html"
    networks:
      - dev-tripocket
    depends_on:
      - pgsql
      - redis

  pgsql:
    image: 'postgis/postgis:15-3.3-alpine'
    environment:
      POSTGRES_DB: '${DB_DATABASE:-laravel}'
      POSTGRES_USER: '${DB_USERNAME:-sail}'
      POSTGRES_PASSWORD: '${DB_PASSWORD:-password}'
    volumes:
      - 'dev-tripocket-pgsql:/var/lib/postgresql/data'
    networks:
      - dev-tripocket

  redis:
    image: redis:alpine
    volumes:
      - 'dev-tripocket-redis:/data'
    networks:
      - dev-tripocket

networks:
    dev-tripocket:
        driver: bridge
volumes:
    dev-tripocket-redis:
        driver: local
    dev-tripocket-pgsql:
        driver: local